@import "navbar";
@import "main";
@import "footer";


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-width: 100%;
  height: auto;
  background-color: black;
  padding-left: 5%;
  padding-right: 5%;
  
  
}